@model IEnumerable<MySiteProject.Models.Entities.AboutMe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionDate)
            </td>
            <td>
                <img src="~/assets/img/aboutme/@item.DescriptionPhoto" width="150"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutMeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutMeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutMeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
