@{
    var aboutMedata = ViewBag.aboutMe;
    int counter = 0;
    string timelineInverted;
}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Me</h2>
        </div>
        <ul class="timeline">
            @foreach (var item in aboutMedata)
            {
                string descrpitonDate = (item.DescriptionDate.Month.ToString() + "/" + item.DescriptionDate.Year.ToString());
                counter++;
                if (counter % 2 == 0)
                {
                    timelineInverted = "timeline-inverted";
                }
                else
                {
                    timelineInverted = "";
                }
                <li class="@timelineInverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/aboutme/@item.DescriptionPhoto" alt="@item.DescriptionPhoto" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">@item.Title</h4>
                            <h6>@(descrpitonDate)</h6>
                        </div>
                        <div class="timeline-body">                            
                            <a class="portfolio-link" data-bs-toggle="modal" href="#Model@(item.AboutMeID)">Details</a>
                        </div>
                    </div>
                </li>
                <!-- Portfolio modal popup-->
                <div class="portfolio-modal modal fade" id="Model@(item.AboutMeID)" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="modal-body">
                                            <!-- Project details-->
                                            <h2 class="text-uppercase">@item.Title</h2>
                                            <p class="item-intro text-muted">@(descrpitonDate)</p>
                                            <img class="img-fluid d-block mx-auto" src="~/assets/img/project/@item.DescriptionPhoto" alt="@item.DescriptionPhoto" />
                                            <p>@Html.Raw(item.Description)</p>
                                            <ul class="list-inline">
                                                <li>
                                                    <strong>Title:</strong>
                                                    @item.Title
                                                </li>
                                                <li>
                                                    <strong>Date:</strong>
                                                    @(descrpitonDate)
                                                </li>
                                            </ul>
                                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                                <i class="fas fa-xmark me-1"></i>
                                                Close Project
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ul>
    </div>


</section>